# Twitter/X API Credentials
# Get these from https://developer.twitter.com/en/portal/dashboard

TWITTER_API_KEY=PD2OCKVda6qtpPpwMf276npar
TWITTER_API_SECRET=unegbJq74qaUsFJ0tgSPOzXemiakw89449SNZlTZ9hG4JDq53J
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAGr67QEAAAAAetvPHiiRAs1RqagQbto8rWxyzXs%3Dgh7ekKfaXSc9wZUUBpkhGSXE6kn8VjkAcIyqiFvfNuCWZcp3I9

# Contract
CONTRACT_ADDRESS=0xb64f18c9EcD475ECF3aac84B11B3774fccFe5458
RPC_URL=https://rpc.monad.xyz